*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    background: rgb(213, 239, 215);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.App .navbar {
    background: rgb(255, 119, 119);
    padding: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.App .navbar p {
    color: azure;
    font-size: 1.5rem;
    font-family: monospace;
    letter-spacing: 0.5rem;
}

.App .navbar button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.15rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
}

.App .navbar .log-in {
    background: greenyellow;
}

.App .navbar .log-out {
    background: rgb(255, 235, 104);
}

.App .creation-form {
    background: rgb(123, 165, 255);
    margin: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.App .creation-form input[type="text"] {
    background: rgb(247, 245, 244);
    padding: 0.1rem;
    padding: 0.25rem;
    font-family: monospace;
    border-radius: 0.2rem;
    border: none;
}

.App .creation-form input[type="text"]:focus {
    outline: 2px solid rgb(251, 50, 50);
}

.App .creation-form button {
    background: rgb(221, 100, 119);
    color: azure;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    font-family: monospace;
    font-size: 0.95rem;
    transition: background-color 0.33s, scale 0.33s;
}

.App .creation-form button:active {
    transform: scale(0.985);
}

.App .counters {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

@media (hover: hover) {
    .App .creation-form button:hover {
        background: rgb(204, 85, 103);
    }
}

@media screen and (max-width: 600px) {
    .App .counters {
        flex-direction: column;
    }
}
